@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0A0A0A;
  color: white;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
